#!/bin/bash
# Copyright (c) Advanced Micro Devices, Inc. All rights reserved.
#
# SPDX-License-Identifier: MIT
#
set -euo pipefail
cd "{{ inference_container_context_resolved }}"
export DOCKER_BUILDKIT=1
exec docker buildx build \
	--load \
	-f Dockerfile \
	-t "{{ inference_container_image }}" \
	--build-arg "HIPFILE_SHA={{ inference_hipfile_sha }}" \
	--build-arg "LMCACHE_GIT_URL={{ inference_lmcache_git_url }}" \
	--build-arg "LMCACHE_SHA={{ inference_lmcache_git_sha }}" \
	--build-arg "GPU_ARCHS={{ inference_gpu_archs }}" \
	--build-arg "NIXL_GIT_URL={{ inference_nixl_git_url }}" \
	--build-arg "NIXL_REF={{ inference_nixl_git_ref }}" \
	--build-arg "LLM_D_GIT_URL={{ inference_llm_d_git_url }}" \
	--build-arg "LLM_D_REF={{ inference_llm_d_git_ref }}" \
	--build-arg "LLM_D_SHA={{ inference_llm_d_git_sha }}" \
	.
