[defaults]
roles_path             = roles
collections_path       = collections
inventory              = inventory/hosts.yml
host_key_checking      = False
gathering              = smart
pipelining             = True
stdout_callback        = yaml
callback_result_format = yaml
