# Copyright (c) Advanced Micro Devices, Inc. All rights reserved.
#
# SPDX-License-Identifier: MIT
#

# Managed by Ansible (monitoring_stack).
apiVersion: 1
deleteDatasources:
  - name: Prometheus
    orgId: 1
datasources:
  - name: Prometheus
    uid: local-prometheus
    type: prometheus
    access: proxy
    url: http://127.0.0.1:9090
    isDefault: true
    editable: false
{% if monitoring_llmd_grafana_datasource_url | default('') | length > 0 %}
  - name: LLM-D-Prometheus
    uid: llmd-prometheus
    type: prometheus
    access: proxy
    url: {{ monitoring_llmd_grafana_datasource_url | to_json }}
    isDefault: false
    editable: false
{% endif %}
