# Copyright (c) Advanced Micro Devices, Inc. All rights reserved.
#
# SPDX-License-Identifier: MIT
#
# Managed by Ansible (host_setup).
[Unit]
Description=Timer for ROCm/amdgpu version textfile metrics

[Timer]
OnBootSec=90s
OnUnitActiveSec=5min
RandomizedDelaySec=45s

[Install]
WantedBy=timers.target
