device 10.0.0.1:/export mounted on /mnt/nfs-data with fstype nfs4 statvers=1.1
	opts:	vers=4.1
	age:	100
	bytes:	1000 0 0 0 0 0 0 0
	RPC iostats version: 1.1  p/v: 100003/4 (nfs)
	        READ: 10 10 0 500 9000 0 0 0 0
	       WRITE: 5 5 0 3000 100 0 0 0 0
device /dev/sda1 mounted on / with fstype ext4
	bytes:	0 0 0 0 0 0 0 0
	        READ: 1 1 0 10 20 0 0 0 0
