# Copyright (c) Advanced Micro Devices, Inc. All rights reserved.
#
# SPDX-License-Identifier: MIT

[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
gathering = smart
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
